body {
    font-family: "Poppins", sans-serif;
    background-color: #f5f3eb; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}

.dashboard-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}


.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #cf9264;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.logout-button:hover {
    background-color: #B17F59;
}

.logout-button a {
    text-decoration: none;
    color: white;
}


h1 {
    font-size: 28px;
    color: #5d4037;
}

.admin-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.btn-add {
    background-color: #cf9264;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-add:hover {
    background-color: #B17F59;
}


h2 {
    font-size: 22px;
    color: #5d4037;
}


.list-container {
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y: auto;
    max-height: 400px; 
    margin-bottom: 20px;
}

.list-container.large {
    max-height: 400px;
    max-width: 800px;
}

.list-container ul {
    list-style-type: none;
    padding: 0;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.list-actions {
    display: flex;
    gap: 10px;
}

.btn-edit,
.btn-delete {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-edit {
    background-color: #64b5f6;
    color: white;
}

.btn-edit:hover {
    background-color: #42a5f5;
}

.btn-delete {
    background-color: #e57373;
    color: white;
}

.btn-delete:hover {
    background-color: #f44336;
}

.btn-status.disponible {
    background-color: #4CAF50;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.btn-status.prestado {
    background-color: #F44336;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}