body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


.content {
    background: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 24px;
    background-color: #cf9264;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #B17F59;
}


@media (max-width: 768px) {
    .content {
        width: 80%;
        padding: 30px;
    }
}


